BraveSoftware/
Bitwarden*
Ledger*
QtProject.conf
exercism/
ghc/
irust/
qutebrowser/
nushell/history.txt
Thunar/
btop/
dconf/
discord/
filezilla/
htop/
mimeapps.list
protonmail/
pulse/
user-dirs*
xfce4/
