coreapps/
Code - OSS/
libreoffice/
remmina/
cubocore/
BraveSoftware/
Bitwarden*
Ledger*
QtProject.conf
exercism/
ghc/
irust/
qutebrowser/
history.txt
Thunar/
btop/
dconf/
discord/
filezilla/
htop/
mimeapps.list
protonmail/
pulse/
user-dirs*
xfce4/
